#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color:#1d1f21;
}

/*  */
/* Title Container */
/*  */

.title-container {
  display: flex;
  height: 8.5vh;
  margin: 0;
  background-color: #1d1f21;
  /* padding-bottom: 0.2em; */
}
.title {
  display: flex;
  justify-content: start;
  align-items: start;
  
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: #1d1f21;
}

.title-text{
  font-weight: 700;
  color:#f9f9f9;
}

.title-icon-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 22px;
}

.store-logo{
  display: flex;
  align-self: center;
  justify-self: center;
  padding-left: 22px;
  padding-right:12px;
  max-width: auto;
  height:80%;
}

.title-icon{
  height:50%;
}


/*  */
/* Main Container */
/*  */

.main-container {
  /* background-color: #d3d3d3; */
  background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(200,200,200,1) 35%, rgba(251,251,251,1) 100%);

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 84vh;
  margin: 0;
  /* padding: 0.2em; */
  align-self: center;
  align-items: center;
  /* justify-content: start; */
}

.main-container-divider{
  display: flex;
  flex-direction: row;
  height:100%;
  width:100%;
}

.content-container{
  /* background-color: red; */

  height:100%;
  width:120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-image-container{
  width:75%;
  padding-bottom: 12px;
}

.content-image{
  border-radius: 32px;
}


.description-container{
  /* background-color: blue; */
  height:100%;
  width:80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
}

/*  */
/*  */

button{
  background-color:#1d1f21;
}
.card {
  padding: 1.4em;
  color: #1d1f21;
}

.card-model {
  padding: 3em;
}

/*  */

.transition-button {
  height: 12.5%;
}


/* MOBILE-VIEW */
@media (max-width: 964px) {

  .title {
    justify-content: center;
    align-items: center;
  }

  .main-container-divider{
    flex-direction: column;
  }

  .content-container{
    height:130%;
    width:100%;
  }
  
  .description-container{
    height:70%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }


  
}
